.buttonContainer{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.sapInoInstallationShell{
 background-color: #f5f3f2;
 box-shadow: inset 0 -0.0625rem #dddcdc;
}
.sapInoInstallationPage .sapMBarMiddle{
    text-align: left;
    margin-left: 1rem;
}

.sapInoInstallationPage  .sapMPageHeader .sapMIBar.sapMHeader-CTX{
    background-color: white;
}

.sapInoInstallationPanelVboxTextCenter{
    text-align:center!important;
    margin-bottom: 1rem;
}
.sapInoInstallationPanelVboxCenter{
      padding-top: 2rem;
      text-align: center;
      margin:auto;
      width: 30%;
}
.sapInoInstallationPanelVboxToolbar{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.sapInoInstallationPanelStartButton{
    width: 8rem;
}
.sapInoInstallationPanelLoginButton{
       width: 11rem;
}

.sapInoInstallationPanelLoginButton .sapMBtnInner.sapMBtnAccept{
    background-color:#2b7c2b;
}
.sapInoInstallationPanelLoginButton .sapMBtnInner.sapMBtnAccept  .sapMBtnContent{
    color: white;
}
.sapInoInstallationPanelStartButton .sapMBtnInner.sapMBtnAccept{
    background-color:#2b7c2b;
}
.sapInoInstallationPanelStartButton .sapMBtnInner.sapMBtnAccept  .sapMBtnContent{
    color: white;
}
.sapInoInstallationPanelLinkRightMargin{
    margin-right:2rem;
}
.sapInoInstallationPanelHboxTopMargin{
        margin-top:1rem;
}

.sapInoInstallationPanelReloadButton{
     width: 8rem;   
}

.sapInoInstallationInstallDuStepPanel .sapMPanelContent{
  border-bottom: none;  
}

.sapInoInstallationProcessPanelContent  .sapMPanelContent{
   display: none; 
}

.sapInoInstallationUpgradeJoblineBox{
   align-items: center;
}
.sapInoInstallationUpgradeJobText{
   margin-right: 1rem;
   text-align: right !important;
   width: 16rem;
}
.sapInoInstallationUpgradeJobTextDesc{
       margin-left: 17rem;
}
.sapInoInstallationUpgradeMainlineBox{
   align-items: center;
   margin-top: 1rem;
}
.sapInoInstallationCreateProcessSubSectionTitle{
    font-size: 1rem;
    color: black;   
}
.sapInoInstallationCreateProcessPartMargin{
    margin-top: 1rem;
}
.sapInoInstallToolBar{
border-bottom: none;    
}
.sapInoInstallCreatePrcedure{
    margin-top: 1rem;
    margin-left: 1rem;
    background-color: aliceblue;    
}
.sapInoInstallProcessingMarginLeft{
      margin-left: 1rem;  
}
.sapInoInstallProcessingStatus{
    font-size: 0.8rem;
}
.sapInoInstallProcessingStatusContent{
    font-size: 0.8rem;
    margin-left:0.5rem;
    width: 30rem;
}

.sapInoInstallRestartDBHbox{
    display: flex !important;
     width: 98% !important;
    justify-content: space-between;
}

.sapUiFormEdit .sapInoInstallSMTPLink.sapMLnk{
    line-height: normal; 
    margin-bottom: auto;
    margin-top: auto;
}

