.sapInoWallWIVInner {
	min-width: 109px;
}

.sapInoWallWIVVideoError {
	background-image: url(img/WallItemVideo/error.png);
	height: 114px;
	width: 109px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.sapInoWallWIVVideoDefault {
    background-image: url(img/WallItemVideo/video.png);
    height: 114px;
    width: 109px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.back.sapInoWallWIV {
    border-left: 5px solid #131313;
    border-right: 5px solid #131313;
}

.sapInoWallWIBVisibleFocus.sapInoWallWIB:focus > .flippable.sapInoWallWIVideo > .front,
.sapInoWallWIBVisibleFocus.sapInoWallWIB:focus > .flippable.sapInoWallWIVideo > .back {
    outline: @sapUiHighlight solid 2px;
}

.sapInoWallWIVVideo {
	background-color: @sapUiBaseBG;
}

.sapInoWallWIVVideo input {
	background-color: @sapUiBaseBG;
}

.sapInoWallWIVOuter {
  	border-left: 12px dotted white;
  	border-right: 12px dotted white;
  	height: 100%;
  	display: block;
  	margin-left: 4px;
  	margin-right: 4px;
  	font-size: 12px;
}

.sapInoWallWIVOuterOuter {
	border: none;
  	background-color: @sapUiBaseBG;
}

.back.sapInoWallWIV {
  	border: 2px solid @sapUiLightText;
	background: @sapUiBaseBG;
}

.sapInoWallWIVEdithint {
	font-size: 11px;
}

.sapInoWallWIVInner {
	background: @sapUiBaseBG;
}